*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inputBox .microPhonr{
    width: 20px;
}

.menu img{
    width: 30px;
}
a{
    text-decoration: none;
    color: #212121;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu{
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.menuItems{
    display: flex;
    align-items: center;
}

.menuItems a{
    padding: 0 15px;
}
.forimage {
    padding-left: 10px;
}


.footer{
    height: 50px;
    background: #f2f2f2;
}

.country{
    padding: 10px 25px;
    border-top: 1px solid rgb(211, 211, 211);
}
.extraLink{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    border-top: 1px solid rgb(211, 211, 211);
    background: #f2f2f2;
}

.content{
    text-align: center;
}

/* .inputBox {
    width: 65%;
    height: 200px;
} */

.inputBox{
    width: 55%;
    margin: auto;
    position: relative;
}

.inputBox input{
    width: 100%;
    padding: 10px 40px;
    border-radius: 50px;
    border: 1px solid #ddd;
}

.inputBox input:focus{
    outline:none;
}

.search{
    position: absolute;
    top:10px;
    left:15px;
    color: rgb(194, 194, 194);
}

.microPhonr{
    position: absolute;
    top:7px;
    right:15px;
    color: rgb(194, 194, 194);
}