#banner img{
    width: 100%;
    height: 700px;
    overflow: hidden;
    object-fit: cover;
}

.forimage{
    background: url('../img/2.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

hr{
    height: 5px;
}

.box{
    background: hsla(0,100%,100%, 0.2);
    padding: 10px;
    height: 400px;
}